<?xml version="1.0" encoding="UTF-8"?>

<!-- dtd -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.chldbwls92.spring.ex.mybatis.repository.ReviewRepositoy">
	
	<select id="selecetReview"
	resultType="com.chldbwls92.spring.ex.mybatis.domain.Review"
	parameterType="int">
		SELECT
			`id`
			, `storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
		FROM
			`new_review`
		WHERE
			`id` = #{id}
	</select>
	

</mapper>